body {
  background: #e8ebef;
  font-family: 'Montserrat', sans-serif;
}

.intro {
    position: relative;
    height: 100vh;
}

.text {
    margin-top: 30%;
}

.title {

    font-size: 7rem;
}

.we-are {
    font-size: 2rem;
    text-align: left;
    width: 70%;
    margin-top: 6%;
}

.break-line {
    border-style: solid;
    border-color: #FF6600;
    border-width: 5px;
    width: 15%;
    margin-top: 3%;
}
