.logo {
    margin: 0 auto;
    width: 100px;
}

.logo-img {
    width: 100px;
    height: 50px;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

.side-bar {
  position: fixed;
  z-index: 100;
  transform-origin: left;
  transform: rotate(90deg) translateX(-50%);
  top: 45%;
  right: -24%;

}

.nav {
    display: block;
    li {
      font-size: 17px;
      display: inline;
      margin-right: 20px;
    }
}

.dafi-design {
    position: fixed;
    top: 47%;
    left: 25px;
    transform-origin: left;
    transform: rotate(-90deg) translateX(-50%);
  }
