body {
    font-family: 'Noto Sans', sans-serif;
}

.logo {
    margin: 0 auto;
    width: 100px;
}

.logo-img {
    width: 100px;
    height: 50px;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

.side-bar {
  position: fixed;
  transform-origin: left;
  transform: rotate(-90deg) translateX(-50%);
  top: 50%;
  left: 25px;

}

.nav {
    display: block;
    li {
      display: inline;
      margin-left: 10px;
    }
}

.dafi-design {
    position: fixed;
    top: 15px;
    right: 10px;

// dafi desing - transformed right
    // transform-origin: right;
    // transform: rotate(90deg);
    // right: 20px;
    // top: 400px;
}
