/* line 1, ../sass/_buttons.scss */
.social {
  position: fixed;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: row;
}

/* line 13, ../sass/_buttons.scss */
.circle-base {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 1.5px solid #000;
  text-align: center;
  margin: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 27, ../sass/_buttons.scss */
a:visited {
  text-decoration: none;
}

/* line 31, ../sass/_buttons.scss */
a:hover {
  color: black;
}

/* line 1, ../sass/_nav-bar.scss */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* line 5, ../sass/_nav-bar.scss */
.logo {
  margin: 0 auto;
  width: 100px;
}

/* line 10, ../sass/_nav-bar.scss */
.logo-img {
  width: 100px;
  height: 50px;
}

/* line 15, ../sass/_nav-bar.scss */
a {
  color: black;
}

/* line 18, ../sass/_nav-bar.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 23, ../sass/_nav-bar.scss */
a:visited {
  text-decoration: none;
  color: black;
}

/* line 28, ../sass/_nav-bar.scss */
.side-bar {
  position: fixed;
  transform-origin: left;
  transform: rotate(-90deg) translateX(-50%);
  top: 50%;
  left: 25px;
}

/* line 37, ../sass/_nav-bar.scss */
.nav {
  display: block;
}
/* line 39, ../sass/_nav-bar.scss */
.nav li {
  display: inline;
  margin-left: 10px;
}

/* line 45, ../sass/_nav-bar.scss */
.dafi-design {
  position: fixed;
  top: 15px;
  right: 10px;
}

/* line 1, ../sass/_intro.scss */
body {
  background: #e8ebef;
  font-family: 'Noto Sans', sans-serif;
}

/* line 6, ../sass/_intro.scss */
.intro {
  position: relative;
  height: 100vh;
}

/* line 11, ../sass/_intro.scss */
.text {
  margin-top: 35%;
}

/* line 15, ../sass/_intro.scss */
.title {
  font-size: 7rem;
}

/* line 20, ../sass/_intro.scss */
.we-are {
  font-size: 2rem;
  text-align: left;
  width: 70%;
  margin-top: 6%;
}

/* line 27, ../sass/_intro.scss */
.break-line {
  border-style: solid;
  border-color: #FF6600;
  border-width: 5px;
  width: 15%;
  margin-top: 3%;
}

/* line 1, ../sass/_services.scss */
.services {
  list-style: none;
  margin-top: 12px;
}

/* line 6, ../sass/_services.scss */
.and-more {
  list-style: none;
  margin-top: 12px;
}

/* line 12, ../sass/_services.scss */
.list-title {
  font-size: 18px;
  font-weight: 800;
  color: #FF6600;
}

/* line 1, ../sass/_projects.scss */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* line 5, ../sass/_projects.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 10, ../sass/_projects.scss */
.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
/* line 14, ../sass/_projects.scss */
.project img {
  max-width: 100%;
}

/* line 19, ../sass/_projects.scss */
.project:nth-child(even) {
  justify-content: flex-end;
}

/* line 23, ../sass/_projects.scss */
.project-content {
  max-width: 40%;
}

/* line 27, ../sass/_projects.scss */
.projects-nav {
  position: absolute;
  left: 50%;
  z-index: 9;
  width: 30px;
  height: 60vh;
  background-color: red;
}

/* line 37, ../sass/_projects.scss */
.line {
  border-style: solid;
  border-color: #FF6600;
  border-width: 2px;
  width: 30px;
  margin-top: 1px;
  margin-bottom: 2px;
}

/* line 1, ../sass/_about.scss */
.about {
  text-align: left;
  max-width: 60%;
  font-size: 18px;
  line-height: 32px;
}

/* line 9, ../sass/_about.scss */
.about h1 {
  text-align: center;
  margin-bottom: 40px;
}

/* line 14, ../sass/_about.scss */
.us {
  margin-bottom: 35px;
}

/* line 18, ../sass/_about.scss */
.hightlight {
  font-size: 25px;
  font-weight: 600;
  color: #FF6600;
}

/* line 24, ../sass/_about.scss */
.team {
  display: flex;
  flex-direction: row;
}

/* line 29, ../sass/_about.scss */
.filippo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 550px;
}
