/* line 1, ../sass/_nav-bar.scss */
.logo {
  margin: 0 auto;
  width: 100px;
}

/* line 6, ../sass/_nav-bar.scss */
.logo-img {
  width: 100px;
  height: 50px;
}

/* line 11, ../sass/_nav-bar.scss */
a {
  color: black;
}

/* line 14, ../sass/_nav-bar.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 19, ../sass/_nav-bar.scss */
a:visited {
  text-decoration: none;
  color: black;
}

/* line 24, ../sass/_nav-bar.scss */
.side-bar {
  position: fixed;
  z-index: 100;
  transform-origin: left;
  transform: rotate(90deg) translateX(-50%);
  top: 45%;
  right: -24%;
}

/* line 34, ../sass/_nav-bar.scss */
.nav {
  display: block;
}
/* line 36, ../sass/_nav-bar.scss */
.nav li {
  font-size: 17px;
  display: inline;
  margin-right: 20px;
}

/* line 43, ../sass/_nav-bar.scss */
.dafi-design {
  position: fixed;
  top: 47%;
  left: 25px;
  transform-origin: left;
  transform: rotate(-90deg) translateX(-50%);
}

/* line 1, ../sass/_intro.scss */
body {
  background: #e8ebef;
  font-family: 'Montserrat', sans-serif;
}

/* line 6, ../sass/_intro.scss */
.intro {
  position: relative;
  height: 100vh;
}

/* line 11, ../sass/_intro.scss */
.text {
  margin-top: 30%;
}

/* line 15, ../sass/_intro.scss */
.title {
  font-size: 7rem;
}

/* line 20, ../sass/_intro.scss */
.we-are {
  font-size: 2rem;
  text-align: left;
  width: 70%;
  margin-top: 6%;
}

/* line 27, ../sass/_intro.scss */
.break-line {
  border-style: solid;
  border-color: #FF6600;
  border-width: 5px;
  width: 15%;
  margin-top: 3%;
}

/* line 1, ../sass/_services.scss */
.services {
  list-style: none;
  margin-top: 12px;
}

/* line 6, ../sass/_services.scss */
.and-more {
  list-style: none;
  margin-top: 12px;
}

/* line 12, ../sass/_services.scss */
.list-title {
  font-size: 18px;
  font-weight: 800;
  color: #FF6600;
}

/* line 1, ../sass/_projects.scss */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* line 5, ../sass/_projects.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 10, ../sass/_projects.scss */
.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
/* line 14, ../sass/_projects.scss */
.project img {
  max-width: 100%;
}

/* line 19, ../sass/_projects.scss */
.project:nth-child(even) {
  justify-content: flex-end;
}

/* line 23, ../sass/_projects.scss */
.project-content {
  max-width: 40%;
}

/* line 27, ../sass/_projects.scss */
.projects-nav {
  position: absolute;
  left: 50%;
  z-index: 9;
  width: 30px;
  height: 60vh;
  background-color: red;
}

/* line 37, ../sass/_projects.scss */
.line {
  border-style: solid;
  border-color: #FF6600;
  border-width: 2px;
  width: 30px;
  margin-top: 1px;
  margin-bottom: 2px;
}

/* line 3, ../sass/_about.scss */
.aboutus {
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
  text-align: left;
  max-width: 60%;
  font-size: 18px;
  line-height: 32px;
}

/* line 14, ../sass/_about.scss */
.about h1 {
  text-align: center;
  margin-bottom: 40px;
}

/* line 19, ../sass/_about.scss */
.us {
  margin-bottom: 35px;
}

/* line 23, ../sass/_about.scss */
.hightlight {
  font-size: 25px;
  font-weight: 600;
  color: #FF6600;
}

/* line 29, ../sass/_about.scss */
.team {
  display: flex;
  flex-direction: row;
  margin-top: 35%;
}

/* line 35, ../sass/_about.scss */
.damjan {
  margin-left: 10%;
}

/* line 39, ../sass/_about.scss */
.filippo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 250px;
}

/* line 47, ../sass/_about.scss */
.team-img {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}

/* line 1, ../sass/_contact.scss */
.logo-img {
  width: 125px;
  height: 60px;
  position: fixed;
  top: 15px;
  right: 10px;
}

/* line 9, ../sass/_contact.scss */
.hightlight a {
  text-decoration: underline;
  font-size: 42px;
  font-weight: 400;
  color: #FF6600;
}

/* line 16, ../sass/_contact.scss */
.work {
  margin-top: 8%;
  margin-left: 10%;
}

/* line 21, ../sass/_contact.scss */
.follow {
  position: absolute;
  text-align: left;
  font-size: 45px;
  font-weight: 500;
  width: 65%;
}

/* line 30, ../sass/_contact.scss */
.social {
  position: fixed;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: row;
}

/* line 42, ../sass/_contact.scss */
.circle-base {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 1.5px solid #000;
  text-align: center;
  margin: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 56, ../sass/_contact.scss */
a:visited {
  text-decoration: none;
}

/* line 60, ../sass/_contact.scss */
a:hover {
  color: black;
}

/* line 1, ../sass/_clients.scss */
.partner-img img {
  max-width: 100%;
  background: #fff;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}

/* line 8, ../sass/_clients.scss */
.partner-img {
  margin-bottom: 20px;
}

/* line 12, ../sass/_clients.scss */
.topposition {
  margin-top: 13%;
  margin-left: 25px;
}

/* line 17, ../sass/_clients.scss */
.cnt-button a {
  display: inline-block;
  border: 3px solid #FF6600;
  color: black;
  font-size: 1.2em;
  line-height: 1;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

/* line 28, ../sass/_clients.scss */
.letswork {
  margin-top: 50%;
  margin-left: 30px;
}

/* line 33, ../sass/_clients.scss */
.cnt-button {
  margin-top: 30px;
}
